<html>
<head>
	<title>Pup Pup Hooray</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/dogproduct1.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<h1 id="headerTitle">Pup Pup Hooray</h1>
	</div>

	<div class="navigation">
		<div id="backButton">
			<button id="backText" onclick="window.location.href='/'">Go Back</button>
		</div>

		<div id="logoutButton">
			<button type="button" id="logoutText">Logout</button>
		</div>
	</div>

	<div class="rankBox">
		<h3 id="rank">#{{ranking}}</h3> <!--Can use JSON for rank number later-->
	</div>

	<!--<br>  Used to separate picture and product title from rank number. -->

	<div class="container">
		<div class="image">
			<img src="{{image}}" id="productImage">
		</div>

		<h1 id="productTitle">{{title}}</h1>

		<!-- By: Elise: Added Buy Button // may need to remove class -->
		<!-- class="btn btn-primary btn-lg -->
        <button id="buy" onclick="window.location.href='/buy'">Buy</button>

        <div class="upAndDownvote">
	        <div class="upArrowWrapper">
	        	<img src="https://cdn2.iconfinder.com/data/icons/game-center-mixed-icons/512/arrow4.png" id="upArrow">
	        </div>

	        <div class="downArrowWrapper">
	        	<img src="https://cdn2.iconfinder.com/data/icons/game-center-mixed-icons/512/arrow4.png" id="downArrow">
	    	</div>
    	</div>

		<div class="description">
			<h2 id="descriptionTitle">Description</h2>

			<p>{{summary}}</p>
		</div>
       	
        <!-- By Elise: Added Review Button // may need to remove class -->
        <button id="addreview">Add Review</button>
		<!-- >>>>>>> d297972dc609a807fac8d87ed162d9a634dbbfc5 -->

		<h2 id="reviewTitle">Reviews</h2> 

		<h3 class="reviewerNames">{{rev1Name}}</h3>
		<!-- ======= Will add stars -Jackie -->
		<p>This dog product absolutely changed my dog's life! My dog lost two pounds during the first week we played fetch with this dog product!</p>

		<h3 class="reviewerNames">{{rev2Name}}</h3>
		<p>I think this product is great! My dog loved playing fetch with it but she didn't really like sleeping with it.</p>
	</div>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>