<html>

<head>
	<title>Pup Pup Hooray</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/dogproduct1.css" rel="stylesheet">
	<link href="/css/buy.css" rel="stylesheet">

	{{!-- Bootstrap 5 CSS --}}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	{{!-- Bootstrap Icons --}}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
	{{!-- JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- Bootstrap JS --}}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
	<script src="/js/navbar.js"></script>
</head>

<body>
	{{> nav}}

	<main class="container-fluid">
		<div class="rankBox">
			<h3 id="rank">#{{product.ranking}}</h3>
			<!--Can use JSON for rank number later-->
		</div>
		<div class="image">
			<img src="{{product.image}}" class="card-img" id="productImage">
		</div>

		<h1 id="productTitle">{{product.title}}</h1>

		<!-- By: Elise: Added Buy Button // may need to remove class -->
		<!-- class="btn btn-primary btn-lg -->
		<button id="buy" class="btn btn-primary" onclick="window.location.href='{{product.id}}/buy'">Buy</button>

		<div class="upAndDownvote">
			<div class="upArrowWrapper">
				<!--<img src="https://cdn2.iconfinder.com/data/icons/game-center-mixed-icons/512/arrow4.png" id="upArrow">-->
				<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#vote"
					onclick="upScore()">
					<i class="bi bi-arrow-up"></i>
				</button>
			</div>

			<div class="downArrowWrapper">
				<!--<img src="https://cdn2.iconfinder.com/data/icons/game-center-mixed-icons/512/arrow4.png" id="downArrow">-->
				<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#vote"
					onclick="downScore()">
					<i class="bi bi-arrow-down"></i>
				</button>
			</div>
		</div>

		<div class="description">
			<h2 id="descriptionTitle">Description</h2>

			<p>{{product.summary}}</p>
		</div>

		<button id="addreview" class="btn btn-primary" onclick="location.href='/addReview'">Add Review</button>

		<h2 id="reviewTitle">Reviews</h2>

		{{#each review}}
		<h3 class="reviewerNames">{{author}}</h3>
		<p>{{text}}</p>
		{{/each}}

		{{!-- <h3 class="reviewerNames">{{rev1Name}}</h3>
		<!-- ======= Will add stars -Jackie -->
		<p>{{rev1}}</p>

		<h3 class="reviewerNames">{{rev2Name}}</h3>
		<p>{{rev2}}</p>

		<h3 class="reviewerNames">{{userName}}</h3>
		<p>{{userRev}}</p> --}}
	</main>

	<!-- Upvote and Downvote Modal -->
	<div class="modal fade" id="vote" tabindex="-1" aria-labelledby="voteLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body pb-0">
					<p>Thank you for your feedback!</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>