<html>

<head>
	<title>Pup Pup Hooray</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/dogproduct1.css" rel="stylesheet">
	<link href="/css/buy.css" rel="stylesheet">

	{{!-- Bootstrap 5 CSS --}}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	{{!-- Bootstrap Icons --}}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
	{{!-- JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- Bootstrap JS --}}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
	<!--<script src="/js/navbar.js"></script>-->
	<script src="/js/product.js"></script>
</head>

<body>
	<header>
		<link href="/css/nav.css" rel="stylesheet">
		<nav class="fixed-top" id="navbar">
			<h1 class="display-1 text-center burg text-white"><a href="/home">Pup Pup Hooray</a></h1>
			<div>
				{{!-- Go Back and Logout --}}
				<div class="d-flex bd-highlight mb-2 purpleBlue">
					<div class="me-auto p-2 bd-highlight">
						<button type="button" class="btn burg text-white" onclick="window.location.href='/home'">
							Go Back
						</button>
					</div>
					<div class="p-2 bd-highlight">
						<button type="button" class="btn btn-primary logoutColor" onclick="window.location.href='/'">
							Logout
						</button>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main class="container-fluid">
		<div class="rankBox logoutColor">
			<h3 class="text-light" id="rank">#{{product.ranking}}</h3>
			<!--Can use JSON for rank number later-->
		</div>
		<div class="image">
			<img src="{{product.image}}" class="card-img" id="productImage">
		</div>

		<h1 id="productTitle">{{product.title}}</h1>

		<!-- By: Elise: Added Buy Button // may need to remove class -->
		<!-- class="btn btn-primary btn-lg -->
		<button id="buy" class="btn logoutColor text-white"
			onclick="window.location.href='{{product.id}}/buy'">Buy</button>

		<div class="upAndDownvote">
			<div class="upArrowWrapper">
				<!--<img src="https://cdn2.iconfinder.com/data/icons/game-center-mixed-icons/512/arrow4.png" id="upArrow">-->
				<form method="GET" action="/upvote">
					{{!-- <button type="submit" class="btn btn-primary up purpleBlue" name="id" value="{{id}}">
						<i class="bi bi-arrow-up"></i>
					</button> --}}
					<button type="submit" class="btn btn-primary up purpleBlue {{#if product.upvoteState}}disabled{{/if}}" name="id" value="1,{{product.id}}">
						<i class="bi bi-arrow-up"></i>
					</button>
				</form>
			</div>
			<p class="voteNumber mt-0 mb-0" id="vote">{{product.voteScore}}</p>
			<div class="downArrowWrapper">
				<!--<img src="https://cdn2.iconfinder.com/data/icons/game-center-mixed-icons/512/arrow4.png" id="downArrow">-->
				<form method="GET" action="/downvote">
					<button type="submit" class="btn btn-danger down burg {{#if product.downvoteState}}disabled{{/if}}" name="id" value="1,{{product.id}}">
						<i class="bi bi-arrow-down"></i>
					</button>
				</form>
			</div>
		</div><br><br>

		<div>
			<div class="description">
				<h2 id="descriptionTitle">Description</h2>
				<p>{{product.summary}}</p>
			</div>

			<button id="addreview" class="btn logoutColor text-white"
				onclick="location.href='/addReview/{{product.id}}'">Add
				Review</button>

			<h2 id="reviewTitle">Reviews</h2>

			{{#each review}}
			<h3 class="reviewerNames">{{author}}</h3>
			<div class="rate">
				{{#times stars}}★{{/times}}{{#times (subtract 5 stars)}}☆{{/times}}</div>
			<p>{{text}}</p>
			{{/each}}
	</main>

	<!-- Upvote and Downvote Modal -->
	<div class="modal fade" id="voteModal" tabindex="-1" aria-labelledby="voteLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body pb-0">
					<p>Thank you for your feedback!</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>